/* ---------------------------------------------------------------- */
/* --- NetTalk Variables - All theme variables in a single place    */
/* --- Theme: aristo                                             */ 
/* ---------------------------------------------------------------- */
:root{
/* ICONS */
	--icon-size:32px; /* don't change this, change the scales instead */

	--icons-light:url("/icons/nt-icons-light.svg");
	--icons-dark:url("/icons/nt-icons-dark.svg");
	--icons-black:url("/icons/nt-icons-dark.svg");
	
	--icons:url("/icons/nt-icons-dark.svg");
	--icons-scale:0.5;
	--icons-transform:scale(var(--icons-scale));
	--icons-hover:var(--icons);/*12.29*/

	--icons-entry:url("/icons/nt-icons-dark.svg");
	--icons-entry-scale:0.5;
	--icons-entry-transform:scale(var(--icons-entry-scale));

	--icons-tree:var(--icons-black);
	--icons-tree-scale:0.75;
	--icons-tree-transform:scale(var(--icons-tree-scale));
	
	--icons-button:url("/icons/nt-icons-dark.svg");
	--icons-button-scale:0.66;
	--icons-button-transform:scale(var(--icons-button-scale));
	--icons-button-hover:var(--icons-hover);/*12.29*/

	--icons-menu:var(--icons);
	--icons-menu-scale:1;
	--icons-menu-transform:scale(var(--icons-menu-scale));

	--icons-tab:var(--icons);
	--icons-tab-scale:0.8;
	--icons-tab-transform:scale(var(--icons-tab-scale));
	
	--icons-highlight:var(--icons);
	--icons-highlight-scale:1.5;
	--icons-highlight-transform:scale(var(--icons-highlight-scale));

	--icons-error:var(--icons);
	--icons-error-scale:1.75; 
	--icons-error-transform:scale(var(--icons-error-scale));

	
/* TYPOGRAPHY */
	/* font */
		--font-family:"Open Sans","Segoe UI", Tahoma, Verdana, Arial, Helvetica, sans-serif;
		--font-size:10.5pt;
		--font-size-monster: 3rem;/*12.28*/
		--font-size-largest: 2rem;
		--font-size-larger: 1.5rem;
		--font-size-large: 1.25rem;
		--font-size-big: 1.1rem;
		--font-size-small: 0.8rem;
		--font-size-smallest: 0.5rem;
		--font-weight-lighter: lighter;
		--font-weight-normal: normal;
		--font-weight-bold: bold;
		--font-style-normal: normal;
		--font-style-italic: italic;
		--text-shadow: 0 0px 0 rgba(255, 255, 255, 0.6);

		--text-color: var(--white);
		--text-color-light: var(--white);
		--text-color-dark: var(--black);
		
		--fixed-font-family: "Lucida Console", Monaco, "Courier New",Courier, monospace;
		--fixed-font-size: var(--font-size);
		--fixed-font-weight: var(--font-weight-normal);

		--header-font-family: var(--header-font-family);
		--header-font-size: var(--font-size-largest);
		--header-font-weight: var(--font-weight-normal);
		--header-text-shadow: 0px 0px 0px var(--lighter-grey);
		--header-text: var(--darkest-primary);
		--header-background: var(--none);
		--header-border: 0;

		--sub-header-font-family: var(--header-font-family);
		--sub-header-font-size: var(--font-size-large);
		--sub-header-font-weight: var(--font-weight-bold);
		--sub-header-text-shadow: 0px 0px 0px var(--lighter-grey);
		--sub-header-text: var(--darkest-primary);
		--sub-header-background: var(--none);
		--sub-header-border: 0;
		--browse-header-font-weight:var(--font-weight-bold); 
		
		--input-font-family: var(--font-family);
		--input-font-size: var(--font-size);
		--input-font-weight: var(--font-weight-normal);

		--text-area-font-family: var(--font-family);
		--text-area-font-size: var(--font-size);
		--text-area-font-weight: var(--font-weight-normal);

		--button-font-family: var(--font-family);
		--button-font-size: var(--font-size);
		--button-font-weight: var(--font-weight-bold);
		--button-text-shadow: 0 1px 0 rgb(255 255 255 / 60%);

		--tab-active-font-weight: var(--font-weight-normal); /*new*/
		--tab-inactive-font-weight: var(--font-weight-normal); /*new*/
		--prompt-font-weight: var(--font-weight-bold);
		
		--widget-header-font-weight: bold;
		--tab-header-font-weight: normal;
		--font-size-tab-title: 1rem;
		
	/* spacing */
		--line-height:1.4em;
		--letter-spacing: 0.05em;
		--word-spacing: 0.25em;
	
/* CURVATURE */		
	/* 2D */
		--radius:3px;
		--tab-radius-left:var(--radius);
		--tab-radius-right:var(--radius);
		--header-radius:var(--radius);
		--content-radius:var(--radius);
		--button-radius:var(--radius);
		--entry-radius:var(--radius);
		--browse-entry-radius: var(--radius);
		--menu-radius: var(--radius);
		--calendar-small-radius: 6px; /*12.28*/
		--calendar-radius: 12px; /*12.28*/		
		
	/* 3D */
		--gradient:to top;
		--grad-start-primary:var(--color-primary);
		--grad-end-primary:var(--lightest-primary);
		--grad-start-primary-hover:var(--dark-primary);
		--grad-end-primary-hover:var(--lighter-primary);
		--grad-start-primary-inactive:var(--light-primary);
		--grad-end-primary-inactive:var(--lighter-primary);
		--grad-start-primary-active:var(--color-primary);
		--grad-end-primary-active:var(--darkest-primary);

		--grad-start-secondary:var(--color-secondary);
		--grad-end-secondary:var(--lightest-secondary);
		--grad-start-secondary-hover:var(--dark-secondary);
		--grad-end-secondary-hover:var(--lighter-secondary);
		--grad-start-secondary-inactive:var(--light-secondary);
		--grad-end-secondary-inactive:var(--lighter-secondary);
		
		--grad-start-tertiary:var(--color-tertiary);
		--grad-end-tertiary:var(--lightest-tertiary);
		--grad-start-tertiary-hover:var(--dark-tertiary);
		--grad-end-tertiary-hover:var(--lighter-tertiary);
		--grad-start-tertiary-inactive:var(--light-tertiary);
		--grad-end-tertiary-inactive:var(--lighter-tertiary);

		--grad-start-accent:var(--color-accent);
		--grad-end-accent:var(--lightest-accent);
		--grad-start-accent-hover:var(--dark-accent);
		--grad-end-accent-hover:var(--lighter-accent);
		--grad-start-accent-inactive:var(--light-accent);
		--grad-end-accent-inactive:var(--lighter-accent);
		
		--grad-start-grey:var(--light-grey);
		--grad-end-grey:var(--lightest-grey);
		--grad-start-grey-hover:var(--dark-grey);
		--grad-end-grey-hover:var(--lighter-grey);
		--grad-start-grey-inactive:var(--lighter-grey);
		--grad-end-grey-inactive:var(--lightest-grey);
		--grad-start-affirm:var(--color-affirm);
		--grad-end-affirm:var(--lightest-affirm);
		--grad-start-affirm-hover:var(--dark-affirm);
		--grad-end-affirm-hover:var(--lighter-affirm);

		--grad-start-warning:var(--color-warning);
		--grad-end-warning:var(--lightest-warning);
		--grad-start-warning-hover:var(--dark-warning);
		--grad-end-warning-hover:var(--lighter-warning);

		--grad-start-error:var(--color-error);
		--grad-end-error:var(--lightest-error);
		--grad-start-error-hover:var(--dark-error);
		--grad-end-error-hover:var(--lighter-error);

		--grad-start-nav:var(--color-nav);
		--grad-end-nav:var(--lightest-nav);
		--grad-start-nav-hover:var(--dark-nav);
		--grad-end-nav-hover:var(--lighter-nav);

		--grad-start-edit:var(--color-edit);
		--grad-end-edit:var(--lightest-edit);
		--grad-start-edit-hover:var(--dark-edit);
		--grad-end-edit-hover:var(--lighter-edit);
		
 /* COLORS */
	--black: #111;
	--white: #FFF;
	--none: transparent;

	--darkest-primary:#4f4f4f;
	--darker-primary:#909090;
	--dark-primary:#b6b6b6;
	--color-primary:#c4c4c4;
	--light-primary:#d0d0d0;
	--lighter-primary:#e0e0e0;
	--lightest-primary:#ededed;

	--darkest-secondary:#093561;
	--darker-secondary:#27598c;
	--dark-secondary:#367dc4;
	--color-secondary:#5ca2e8;
	--light-secondary:#94bbe2;
	--lighter-secondary:#b7d4f2;
	--lightest-secondary:#e2effc;

	--darkest-tertiary:#613309;
	--darker-tertiary:#8b592b;
	--dark-tertiary:#c37e40;
	--color-tertiary:#e8a56a;
	--light-tertiary:#e1bf9f;
	--lighter-tertiary:#f2d6bd;
	--lightest-tertiary:#fceee2;

	--darkest-accent:#236109;
	--darker-accent:#438228;
	--dark-accent:#5cb337;
	--color-accent:#80d05e;
	--light-accent:#a3db8c;
	--lighter-accent:#c3f0b0;
	--lightest-accent:#eafce2;

	--darkest-grey:#191919;
	--darker-grey:#525252;
	--dark-grey:#8b8b8b;
	--color-grey:#c4c4c4;
	--light-grey:#d7d7d7;
	--lighter-grey:#eaeaea;
	--lightest-grey:#f8f8f8;

	--darkest-affirm:#236109;
	--darker-affirm:#3b7821;
	--dark-affirm:#4d9d2a;
	--color-affirm:#67b645;
	--light-affirm:#8dd86d;
	--lighter-affirm:#b8eea1;
	--lightest-affirm:#eafce2;

	--darkest-warning:#615809;
	--darker-warning:#8c8016;
	--dark-warning:#bbac1d;
	--color-warning:#e8d52c;
	--light-warning:#e8dc6e;
	--lighter-warning:#f4eca4;
	--lightest-warning:#fcfae2;

	--darkest-error:#611b09;
	--darker-error:#783221;
	--dark-error:#9d412a;
	--color-error:#b65c45;
	--light-error:#d8836d;
	--lighter-error:#eeb1a1;
	--lightest-error:#fce7e2;

	--darkest-nav:#613309;
	--darker-nav:#8b592b;
	--dark-nav:#c37e40;
	--color-nav:#e8a56a;
	--light-nav:#e1bf9f;
	--lighter-nav:#f2d6bd;
	--lightest-nav:#fceee2;

	--darkest-edit:#613309;
	--darker-edit:#8b592b;
	--dark-edit:#c37e40;
	--color-edit:#e8a56a;
	--light-edit:#e1bf9f;
	--lighter-edit:#f2d6bd;
	--lightest-edit:#fceee2;
	
/* ELEMENTS */	
	/* general site */
	--site-color:var(--black);/*12.29*/
	--site-background:var(--white);
	--site-body-border:0.0rem solid var(--color-accent);/*new*/
	--site-border:0.4rem solid var(--darkest-primary);
	--site-body-margin:0.3em;/*new*/

	/* widgets */
	--widget-border:1px solid var(--lightest-grey);
	--widget-background:var(--site-background);
	--widget-hover:var(--lightest-grey);

	/* errors */
	--error-text:var(--dark-error);
	--error-background:var(--lightest-error);
	--error-border:1px solid var(--dark-error);

	/* warnings */
	--warning-text:var(--dark-warning);
	--warning-background:var(--lightest-warning);
	--warning-border:1px solid var(--dark-warning);

	/* vtip */
	--tip-text:var(--dark-accent);
	--tip-background:var(--lightest-accent);
	--tip-border:1px solid var(--dark-accent);

	/* dialog */
    --dialog-background:var(--none);/*new*/
	--dialog-background-image:var(--none);/*new*/
    --dialog-border:0;/*new*/
    --dialog-padding:0.5em 1em;/*new*/

	--dialog-close-background:var(--light-error);
	--dialog-close-background-error:var(--light-error);
	--dialog-close-border:0px solid var(--dark-error);/*new*/

	--dialog-title-text:var(--darkest-primary);
	--dialog-title-text-size: var(--font-size-normal);
	--dialog-title-text-weight: var(--font-weight-bold);
	--dialog-title-background:var(--color-primary);
	--dialog-title-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--dialog-title-border:0px solid var(--color-primary);
	--dialog-title-border-bottom:0px solid var(--color-accent);

	/* buttons */
	--button-text:var(--text-color);
	--button-background:var(--color-primary);
	--button-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--button-border:0px solid var(--lightest-grey);

	--button-text-hover:var(--text-color);
	--button-background-hover:var(--darkest-primary);
	--button-background-image-hover:linear-gradient(var(--gradient),var(--grad-start-primary-hover),var(--grad-end-primary-hover));
	--button-border-hover:0px solid var(--darkest-primary);

	/* browse */
	--browse-header-text:var(--darker-primary);
	--browse-header-background:var(--none);
	--browse-header-background-image:var(--none);
	--browse-header-border:0px solid var(--darkest-secondary);
	
	--browse-sub-header-text:var(--darker-primary);
	--browse-sub-header-background:var(--none);
	--browse-sub-header-background-image:var(--none);
	--browse-sub-header-border:0px solid var(--darkest-secondary);

	--browse-header-text-not-selected:var(--darkest-secondary);
	--browse-header-background-not-selected:var(--color-primary);
	--browse-header-background-image-not-selected:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--browse-header-border-not-selected:1px solid var(--color-primary);
	--browse-header-border-not-selected-bottom:1px solid var(--color-primary);
	
	--browse-header-text-not-selected-hover:var(--darkest-secondary);
	--browse-header-background-not-selected-hover:var(--darkest-primary);
	--browse-header-background-image-not-selected-hover:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--browse-header-border-not-selected-hover:1px solid var(--color-primary);
	--browse-header-border-not-selected-bottom-hover:1px solid var(--color-primary);

	--browse-header-text-selected:var(--darkest-secondary);
	--browse-header-background-selected:var(--dark-primary);
	--browse-header-background-image-selected:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--browse-header-border-selected:1px solid var(--dark-secondary);
	--browse-header-border-selected-bottom:1px solid var(--dark-primary);
	
	--browse-header-text-empty:var(--darkest-secondary);
	--browse-header-background-empty:var(--color-primary);
	--browse-header-background-image-empty:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--browse-header-border-empty:1px solid var(--white);
	--browse-header-border-empty-bottom:1px solid var(--white);
	
	--browse-header-text-cant-select:var(--darkest-secondary);
	--browse-header-background-cant-select:var(--color-primary);
	--browse-header-background-image-cant-select:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--browse-header-border-cant-select:1px solid var(--white);
	--browse-header-border-cant-select-bottom:1px solid var(--white);
	
	--browse-table-border:1px solid var(--none);
	--browse-table-row-border-color:var(--none);
	--browse-table-cell-border-color:var(--none);

	--browse-line-border-top: 1px solid var(--light-grey);
	--browse-line-border-bottom: 1px solid var(--light-grey);
	--browse-line-padding-top:0.3em; /*new*/
	--browse-line-padding-bottom:0.3em; /*new*/
	
	--browse-prompt-text:var(--text-color);
	--browse-prompt-background:var(--light-secondary);
	--browse-prompt-border:1px solid var(--none);

	--browse-greenbar1-text:var(--text-color-dark);
	--browse-greenbar1-background:var(--white);
	--browse-greenbar2-text:var(--text-color-dark);
	--browse-greenbar2-background:var(--lightest-grey);

	--browse-mouseover-text:var(--text-color);
	--browse-mouseover-background:var(--color-grey);

	--browse-row-selected-background:var(--dark-grey);
	--browse-row-selected-text:var(--text-color);

	--browse-deleted-text:var(--text-color);
	--browse-deleted-background:var(--lightest-error);

	--browse-footer-text:var(--text-color);
	--browse-footer-background:var(--color-secondary);
	--browse-footer-border:1px solid var(--none);
	--browse-footer-border-top:1px solid var(--none);

	--browse-footer-empty-text:var(--text-color);
	--browse-footer-empty-background:var(--white);
	--browse-footer-empty-border:1px solid var(--none);
	--browse-footer-empty-border-top:1px solid var(--none);

	--browse-empty-text:var(--text-color);
	--browse-empty-background:var(--lightest-secondary);
	--browse-empty-border:1px solid var(--darkest-secondary);
	--browse-empty-border-top:1px solid var(--darkest-secondary);

	--browse-entry-text:var(--entry-text);
	--browse-entry-background:var(--entry-background);
	--browse-entry-border:1px solid var(--entry-border);
	
	
	/* tabs */
	--tab-border:1px solid var(--darkest-primary);
	--tab-border-bottom:1px solid var(--darker-primary);
	--tab-text:var(--text-color);
	--tab-text-shadow:var(--text-shadow);
	--tab-background:var(--none);
	--tab-background-image:linear-gradient(var(--gradient),var(--none),var(--none));

	--tab-active-text:var(--darkest-primary);
	--tab-active-background:var(--white);
	--tab-active-background-image:linear-gradient(var(--gradient),var(--white),var(--lightest-primary));
	--tab-active-border:1px solid var(--dark-primary);
	--tab-active-border-bottom:1px solid var(--color-primary);

	--tab-active-text-hover:var(--darkest-primary);
	--tab-active-background-hover:var(--white);
	--tab-active-background-image-hover:linear-gradient(var(--gradient),var(--white),var(--lightest-primary));
	--tab-active-border-hover:1px solid var(--light-primary);

	--tab-inactive-text:var(--darkest-primary);
	--tab-inactive-background:var(--light-primary);
	--tab-inactive-background-image:linear-gradient(var(--gradient),var(--grad-start-primary-inactive),var(--grad-end-primary-inactive));
	--tab-inactive-border:0px solid var(--darkest-primary);

	--tab-inactive-text-hover:var(--darkest-primary);
	--tab-inactive-background-hover:var(--light-primary);
	--tab-inactive-border-hover:0px solid var(--darkest-primary);

	/* accordion tabs */
	--accordion-active-text:var(--darkest-primary); 
	--accordion-active-background:var(--darkest-primary);
	--accordion-active-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--accordion-active-border:1px solid var(--color-primary);

	--accordion-active-text-hover:var(--darkest-primary); 
	--accordion-active-background-hover:var(--darkest-primary);
	--accordion-active-background-image-hover:linear-gradient(var(--gradient),var(--grad-start-primary-hover),var(--grad-end-primary-hover));
	--accordion-active-border-hover:1px solid var(--darkest-primary);

	--accordion-inactive-text:var(--darkest-primary); 
	--accordion-inactive-background:var(--color-primary);
	--accordion-inactive-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--accordion-inactive-border:1px solid var(--color-primary);

	--accordion-inactive-text-hover:var(--darkest-primary); 
	--accordion-inactive-background-hover:var(--darkest-primary);
	--accordion-inactive-background-image-hover:linear-gradient(var(--gradient),var(--grad-start-primary-hover),var(--grad-end-primary-hover));
	--accordion-inactive-border-hover:1px solid var(--darkest-primary);

	--accordion-content-border:1px solid var(--color-primary);

	/* taskpanel tabs */
	--taskpanel-active-text:var(--darkest-primary); 
	--taskpanel-active-background:var(--darkest-primary);
	--taskpanel-active-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--taskpanel-active-border:1px solid var(--color-primary);
	--taskpanel-active-text-hover:var(----darkest-primary); 
	--taskpanel-active-background-hover:var(--darkest-primary);
	--taskpanel-active-background-image-hover:linear-gradient(var(--gradient),var(--grad-start-primary-hover),var(--grad-end-primary-hover));
	--taskpanel-active-border-hover:1px solid var(--darkest-primary);

	--taskpanel-inactive-text:var(--darkest-primary); 
	--taskpanel-inactive-background:var(--color-primary);
	--taskpanel-inactive-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--taskpanel-inactive-border:1px solid var(--color-primary);
	--taskpanel-inactive-text-hover:var(----darkest-primary); 
	--taskpanel-inactive-background-hover:var(--darkest-primary);
	--taskpanel-inactive-background-image-hover:linear-gradient(var(--gradient),var(--grad-start-primary-hover),var(--grad-end-primary-hover));
	--taskpanel-inactive-border-hover:1px solid var(--darkest-primary);

	--taskpanel-content-border:1px solid var(--color-primary);

	/* carousel tabs */
	--carousel-header-text:var(----darkest-primary);
	--carousel-header-background:var(--color-primary);
	--carousel-header-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--carousel-header-border:1px solid var(--color-primary);
	--carousel-header-border-bottom:1px solid var(--color-primary);

	/* wizard tabs */
	--wizard-header-text:var(----darkest-primary);
	--wizard-header-background:var(--color-primary);
	--wizard-header-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--wizard-header-border:1px solid var(--color-primary);
	--wizard-header-border-bottom:1px solid var(--color-primary);

	/* rounded tabs */
	--rounded-background:var(--lightest-primary);
	--rounded-background-image:linear-gradient(var(--gradient),var(--lightest-primary),var(--white));
	--rounded-border:1px solid var(--darkest-primary);

	--rounded-header-text:var(----darkest-primary); 
	--rounded-header-background:var(--color-primary);
	--rounded-header-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--rounded-header-border:1px solid var(--color-primary);
	--rounded-header-border-bottom:1px solid var(--color-primary);

	/* plain tabs */
	--plain-background:var(--none);
	--plain-border:1px solid var(--none);

	--plain-fieldset-color:var(--darkest-primary);
	--plain-fieldset-background:var(--lightest-primary);
	--plain-fieldset-background-image:linear-gradient(var(--gradient),var(--lightest-primary),var(--white));
	--plain-fieldset-border:1px solid var(--darkest-primary);

	--plain-legend-color:var(----darkest-primary);
	--plain-legend-background:var(--color-primary);
	--plain-legend-border:1px solid var(--color-primary);
	--plain-legend-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/*breadcrumbs */
	--bread-background: var(--lightest-primary);
	--bread-border:1px solid var(--darkest-primary);

	--crumb-text: var(----darkest-primary);
	--crumb-background: var(--color-primary);
	--crumb-border:1px solid var(--none);

	--crumb-text-active: var(--white);
	--crumb-background-active: var(--darkest-primary);
	--crumb-border-active:1px solid var(--none);

	--crumb-text-hover: var(--white);
	--crumb-background-hover: var(--darkest-primary);
	--crumb-border-hover:1px solid var(--darkest-primary);

	--crumb-text-active-hover: var(--white);
	--crumb-background-active-hover: var(--darkest-primary);
	--crumb-border-active-hover:1px solid var(--none);

	/* auto complete */
	--autocomplete-droplist-text:var(--text-color-dark);
	--autocomplete-droplist-background:var(--lightest-primary);
	--autocomplete-droplist-border:1px solid var(--darkest-primary);

	--autocomplete-droplist-text-hover:var(--text-color-light);
	--autocomplete-droplist-background-hover:var(--dark-primary);
	--autocomplete-droplist-border-hover:1px solid var(--none);

	/* entry */
	--entry-height:2em;
	--entry-text:var(--text-color-dark);
	--entry-background:var(--white);
	--entry-border:1px solid var(--darkest-primary);
	--entry-required:var(--lightest-warning);
	--entry-read-only:var(--lightest-secondary);
	--entry-error:var(--lighter-error);

	/*naked-checkbox*/
	--naked-checkbox-color:var(--color-primary);
	--naked-checkbox-color-checked:var(--dark-primary);

	/*naked-Radio*/
	--naked-radio-color:var(--color-primary);
	--naked-radio-color-checked:var(--darkest-primary);

	/* select */
	--select-text:var(--entry-text);
	--select-background:var(--entry-background);
	--select-border:var(--entry-border);

	--select-droplist-text:var(--text-color-dark);
	--select-droplist-background:var(--lightest-primary);
	--select-droplist-background-2:var(--lightest-secondary);
	--select-droplist-border:1px solid var(--darkest-primary);

	--select-droplist-text-hover:var(--text-color-light);
	--select-droplist-background-hover:var(--dark-primary);
	--select-droplist-border-hover:1px solid var(--none);

	/* slider */
	--slider-background:var(--lightest-primary);
	--slider-border:1px solid var(--darkest-primary);

	--slider-handle-background:var(--color-primary);
	--slider-handle-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--slider-handle-border:1px solid var(--color-primary);

	/* spinner */
	--spinner-text:var(--entry-text);
	--spinner-background:var(--entry-background);
	--spinner-border:var(--entry-border);

	--spinner-button-text:var(--text-color);
	--spinner-button-background:var(--white);
	--spinner-button-border:0px solid var(--color-primary);

	--spinner-button-text-hover:var(--text-color-light);
	--spinner-button-background-hover:var(--white);
	--spinner-button-border-hover:0px solid var(--darkest-primary);

	/* color picker */
	--colorpicker-text:var(--text-color-dark);
	--colorpicker-background:var(--lightest-primary);
	--colorpicker-border:1px solid var(--darkest-primary);

	/* date picker */
	--datepicker-background:var(--lightest-primary);
	--datepicker-border:1px solid var(--darkest-primary);

	--datepicker-header-text:var(--text-color);
	--datepicker-header-background:var(--color-primary);
	--datepicker-header-border:1px solid var(--color-primary);
	
	--datepicker-daynames-text:var(--darker-primary);
	--datepicker-daynames-background:var(--none);
	--datepicker-daynames-border:1px solid var(--none);

	--datepicker-weekend-text:var(--dark-grey);
	--datepicker-weekend-background:var(--none);
	--datepicker-weekend-border:1px solid var(--none);

	--datepicker-days-text:var(--darkest-primary);
	--datepicker-days-background:var(--white);
	--datepicker-days-border:1px solid var(--darkest-primary);

	--datepicker-days-text-hover:var(--text-color-light);
	--datepicker-days-background-hover:var(--darkest-primary);
	--datepicker-days-border-hover:1px solid var(--darkest-primary);

	--datepicker-today-text:var(--lightest-primary);
	--datepicker-today-background:var(--darkest-primary);
	--datepicker-today-border:1px solid var(--darkest-primary);

	--datepicker-current-text:var(--lightest-affirm); /*new*/
	--datepicker-current-background:var(--darkest-affirm);/*new*/
	--datepicker-current-border:1px solid var(--darkest-affirm);/*new*/

	/* radio / checkbox buttons */
	--checkbox-border:1px solid var(--color-primary);
	
	--radio-text:var(--text-color);
	--radio-background:var(--color-primary);
	--radio-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--radio-border:1px solid var(--color-primary);
	
	--radio-text-hover:var(--text-color);
	--radio-background-hover:var(--darkest-primary);
	--radio-background-image-hover:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--radio-border-hover:1px solid var(--color-primary);

	--radio-checked-text:var(--text-color);
	--radio-checked-background:var(--darkest-primary);
	--radio-checked-background-image:linear-gradient(var(--gradient),var(--grad-start-primary-active),var(--grad-end-primary-active));
	--radio-checked-border:1px solid var(--none);
	
	--radio-checked-text-hover:var(--text-color);
	--radio-checked-background-hover:var(--darkest-primary);
	--radio-checked-background-image-hover:linear-gradient(var(--gradient),var(--grad-start-primary-hover),var(--grad-end-primary-hover));
	--radio-checked-border-hover:1px solid var(--color-primary);

	/* progress bar */

	--progress-container-text:var(--text-color-dark);
	--progress-container-background:var(--light-primary);
	--progress-container-border:1px solid var(--dark-primary);

	--progress-text:var(--text-color-light);
	--progress-background:var(--dark-primary);
	--progress-border:1px solid var(--dark-primary);

	--nt-progress-hyperlink-text:var(--darkest-primary);
	--nt-progress-hyperlink-background:var(--lightest-primary);
	--nt-progress-hyperlink-border:1px solid var(--darkest-primary);

	/* gauges */
	--gauge-pointer:var(--color-secondary);
	--gauge-dial-color:var(--dark-primary);
	--gauge-dial-background-color:var(--lightest-primary);
	--gauge-dial-border:1px solid var(--dark-primary);
	--gauge-prefix-text:var(--text-color-dark);
	--gauge-text:var(--color-primary);
	--gauge-suffix-text:var(--text-color-dark);
	--gauge-label-text:var(--text-color-dark);
	
	/* form */
	--form-table-border:1px solid var(--none);
	
	--form-prompt-text:var(--text-color-dark);
	--form-prompt-background:var(--none);
	--form-prompt-border:1px solid var(--none);

	--comment-text:var(--color-grey);
	--comment-background:var(--none);
	--comment-border:1px solid var(--none);

	/* main menu options */
	--menu-text:var(--darkest-primary);
	--menu-background:var(--color-primary);
	--menu-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--menu-border:0px solid var(--color-primary);
	
	--menu-text-hover:var(--text-color);
	--menu-background-hover:var(--darkest-primary);
	--menu-background-image-hover:linear-gradient(var(--gradient),var(--grad-start-primary-hover),var(--grad-end-primary-hover));

	/* a menu that has no items, but has it's own URL */
	--menu-alone-text:var(--text-color);
	--menu-alone-background:var(--color-primary);
	--menu-alone-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--menu-alone-border:0px solid var(--color-primary);
	
	--menu-alone-text-hover:var(--text-color);
	--menu-alone-background-hover:var(--darkest-primary);
	--menu-alone-background-image-hover:linear-gradient(var(--gradient),var(--grad-start-primary-hover),var(--grad-end-primary-hover));

	/* menu item */
	--menu-item-text:var(--text-color);
	--menu-item-background:var(--color-primary);
	--menu-item-border:0px solid var(--color-primary);
	--menu-item-text-hover:var(--text-color);
	--menu-item-background-hover:var(--darkest-primary);

	/* menu items container*/
	--menu-items-text:var(--text-color-dark);
	--menu-items-background:var(--lightest-primary);
	--menu-items-background-image:linear-gradient(var(--gradient),var(--lightest-primary),var(--white));
	--menu-items-border:0px solid var(--lightest-primary);
	
	--menu-items-text-hover:var(--text-color);
	--menu-items-background-hover:var(--darkest-primary);

	/* menu item buttons*/
	--menu-item-button-text:var(--text-color-dark);
	--menu-item-button-background:var(--lightest-primary);
	--menu-item-button-text-hover:var(--text-color-light);
	--menu-item-button-background-hover:var(--darkest-primary);

	/* menu accordion item */
	--menu-accordion-item-text:var(--text-color-light);
	--menu-accordion-item-background:var(--color-primary);
	--menu-accordion-item-text-hover:var(--text-color);
	--menu-accordion-item-background-hover:var(--color-primary);

	/* menu accordion items container*/
	--menu-accordion-items-text:var(--text-color-dark);
	--menu-accordion-items-background:var(--lightest-primary);
	--menu-accordion-items-background-image:linear-gradient(var(--gradient),var(--lightest-primary),var(--white));
	--menu-accordion-items-border:var(--light-primary);
	
	--menu-accordion-items-text-hover:var(--text-color-dark);
	--menu-accordion-items-background-hover:var(--lightest-primary);

	/* menu accordion item buttons*/
	--menu-accordion-item-button-text:var(--text-color-dark);
	--menu-accordion-item-button-background:var(--lightest-primary);
	--menu-accordion-item-button-text-hover:var(--text-color-light);
	--menu-accordion-item-button-background-hover:var(--darkest-primary);

	/* specific buttons */
	--dialog-button-text-error:var(--text-color-dark);
	--dialog-button-background-error:var(--light-error);
	--dialog-button-border-error:1px solid var(--white);

	--dialog-button-text-warning:var(--text-color);
	--dialog-button-background-warning:var(--light-warning);
	--dialog-button-border-warning:1px solid var(--white);

	/* default */ /*new*/
	--button-default-text:var(--darkest-primary);
	--button-default-background:var(--color-primary);
	--button-default-border:1px solid var(--dark-primary);
    --button-default-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-default-text-hover:var(--darkest-primary);
	--button-default-background-hover:var(--color-primary);
	--button-default-border-hover:1px solid var(--darkest-primary);
    --button-default-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/*back*/ /*new*/
	--button-back-background:var(--none);
	--button-back-border:0px solid var(--dark-primary);
    --button-back-background-image: var(--none);

	--button-back-background-hover:var(--none);
	--button-back-border-hover:0px solid var(--dark-primary);
    --button-back-background-image-hover: var(--none);

	/* save */
	--button-save-text:var(--darkest-primary);
	--button-save-background:var(--color-primary);
	--button-save-border:1px solid var(--dark-primary);
    --button-save-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-save-text-hover:var(--darkest-primary);
	--button-save-background-hover:var(--color-primary);
	--button-save-border-hover:1px solid var(--darkest-primary);
    --button-save-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/* select */
	--button-select-text:var(--darkest-primary);
	--button-select-background:var(--color-primary);
	--button-select-border:1px solid var(--dark-primary);
    --button-select-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-select-text-hover:var(--darkest-primary);
	--button-select-background-hover:var(--color-primary);
	--button-select-border-hover:1px solid var(--darkest-primary);
    --button-select-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/* close */
	--button-close-text:var(--darkest-primary);
	--button-close-background:var(--color-primary);
	--button-close-border:1px solid var(--dark-primary);
    --button-close-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-close-text-hover:var(--darkest-primary);
	--button-close-background-hover:var(--color-primary);
	--button-close-border-hover:1px solid var(--darkest-primary);
    --button-close-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/* start */
	--button-start-text:var(--darkest-primary);
	--button-start-background:var(--color-primary);
	--button-start-border:1px solid var(--dark-primary);
    --button-start-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-start-text-hover:var(--darkest-primary);
	--button-start-background-hover:var(--color-primary);
	--button-start-border-hover:1px solid var(--darkest-primary);
    --button-start-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/* logout */
	--button-logout-text:var(--darkest-primary);
	--button-logout-background:var(--color-primary);
	--button-logout-border:1px solid var(--dark-primary);
	--button-logout-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-logout-text-hover:var(--darkest-primary);
	--button-logout-background-hover:var(--color-primary);
	--button-logout-border-hover:1px solid var(--darkest-primary);
	--button-logout-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/* cancel */
	--button-cancel-text:var(--darkest-primary);
	--button-cancel-background:var(--color-primary);
	--button-cancel-border:1px solid var(--dark-primary);
	--button-cancel-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-cancel-text-hover:var(--darkest-primary);
	--button-cancel-background-hover:var(--color-primary);
	--button-cancel-border-hover:1px solid var(--darkest-primary);
	--button-cancel-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/* delete */
	--button-delete-text:var(--darkest-primary);
	--button-delete-background:var(--color-primary);
	--button-delete-border:1px solid var(--dark-primary);
	--button-delete-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-delete-text-hover:var(--darkest-primary);
	--button-delete-background-hover:var(--color-primary);
	--button-delete-border-hover:1px solid var(--darkest-primary);
	--button-delete-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
		
	/* api buttons */
	--button-service-text:var(--darkest-primary);
	--button-service-background:var(--color-primary);
	--button-service-border:1px solid var(--dark-primary);
	--button-service-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-service-text-hover:var(--darkest-primary);
	--button-service-background-hover:var(--color-primary);
	--button-service-border-hover:1px solid var(--darkest-primary);
	--button-service-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-method-text:var(--darkest-primary);
	--button-method-background:var(--color-primary);
	--button-method-border:1px solid var(--dark-primary);
	--button-method-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-method-text-hover:var(--darkest-primary);
	--button-method-background-hover:var(--color-primary);
	--button-method-border-hover:1px solid var(--darkest-primary);
	--button-method-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	
	/* nav */
	--button-first-text:var(--darkest-primary);
	--button-first-background:var(--color-primary);
	--button-first-border:1px solid var(--dark-primary);
	--button-first-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-first-text-hover:var(--darkest-primary);
	--button-first-background-hover:var(--color-primary);
	--button-first-border-hover:1px solid var(--darkest-primary);
	--button-first-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-previous-text:var(--darkest-primary);
	--button-previous-background:var(--color-primary);
	--button-previous-border:1px solid var(--dark-primary);
	--button-previous-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-previous-text-hover:var(--darkest-primary);
	--button-previous-background-hover:var(--color-primary);
	--button-previous-border-hover:1px solid var(--darkest-primary);
	--button-previous-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-next-text:var(--darkest-primary);
	--button-next-background:var(--color-primary);
	--button-next-border:1px solid var(--dark-primary);
	--button-next-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-next-text-hover:var(--darkest-primary);
	--button-next-background-hover:var(--color-primary);
	--button-next-border-hover:1px solid var(--darkest-primary);
	--button-next-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-last-text:var(--darkest-primary);
	--button-last-background:var(--color-primary);
	--button-last-border:1px solid var(--dark-primary);
	--button-last-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-last-text-hover:var(--darkest-primary);
	--button-last-background-hover:var(--color-primary);
	--button-last-border-hover:1px solid var(--darkest-primary);
	--button-last-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
		/* view */
	--button-view-text:var(--darkest-primary);
	--button-view-background:var(--color-primary);
	--button-view-border:1px solid var(--dark-primary);
    --button-view-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-view-text-hover:var(--darkest-primary);
	--button-view-background-hover:var(--color-primary);
	--button-view-border-hover:1px solid var(--darkest-primary);
    --button-view-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

		/* export */
	--button-export-text:var(--darkest-primary);
	--button-export-background:var(--color-primary);
	--button-export-border:1px solid var(--dark-primary);
    --button-export-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-export-text-hover:var(--darkest-primary);
	--button-export-background-hover:var(--color-primary);
	--button-export-border-hover:1px solid var(--darkest-primary);
    --button-export-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

		/* print */
	--button-print-text:var(--darkest-primary);
	--button-print-background:var(--color-primary);
	--button-print-border:1px solid var(--dark-primary);
    --button-print-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-print-text-hover:var(--darkest-primary);
	--button-print-background-hover:var(--color-primary);
	--button-print-border-hover:1px solid var(--darkest-primary);
    --button-print-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
		/* edit */
	--button-insert-text:var(--darkest-primary);
	--button-insert-background:var(--color-primary);
	--button-insert-border:1px solid var(--dark-primary);
	--button-insert-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-insert-text-hover:var(--darkest-primary);
	--button-insert-background-hover:var(--color-primary);
	--button-insert-border-hover:1px solid var(--darkest-primary);
	--button-insert-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-copy-text:var(--darkest-primary);
	--button-copy-background:var(--color-primary);
	--button-copy-border:1px solid var(--dark-primary);
	--button-copy-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-copy-text-hover:var(--darkest-primary);
	--button-copy-background-hover:var(--color-primary);
	--button-copy-border-hover:1px solid var(--darkest-primary);
	--button-copy-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-change-text:var(--darkest-primary);
	--button-change-background:var(--color-primary);
	--button-change-border:1px solid var(--dark-primary);
	--button-change-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-change-text-hover:var(--darkest-primary);
	--button-change-background-hover:var(--color-primary);
	--button-change-border-hover:1px solid var(--darkest-primary);
	--button-change-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	/*lookup*/
	--button-lookup-text:var(--darkest-primary);
	--button-lookup-background:var(--color-primary);
	--button-lookup-border:1px solid var(--dark-primary);
	--button-lookup-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-lookup-text-hover:var(--darkest-primary);
	--button-lookup-background-hover:var(--color-primary);
	--button-lookup-border-hover:1px solid var(--darkest-primary);
	--button-lookup-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/*clear*/
	--button-clear-text:var(--darkest-primary);
	--button-clear-background:var(--color-primary);
	--button-clear-border:1px solid var(--dark-primary);
	--button-clear-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-clear-text-hover:var(--darkest-primary);
	--button-clear-background-hover:var(--color-primary);
	--button-clear-border-hover:1px solid var(--darkest-primary);
	--button-clear-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	/*locate*/
	--button-locate-text:var(--darkest-primary);
	--button-locate-background:var(--color-primary);
	--button-locate-border:1px solid var(--dark-primary);
	--button-locate-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-locate-text-hover:var(--darkest-primary);
	--button-locate-background-hover:var(--color-primary);
	--button-locate-border-hover:1px solid var(--darkest-primary);
	--button-locate-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	/*wizard*/
	--button-wizprevious-text:var(--darkest-primary);
	--button-wizprevious-background:var(--color-primary);
	--button-wizprevious-border:1px solid var(--dark-primary);
	--button-wizprevious-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-wizprevious-text-hover:var(--darkest-primary);
	--button-wizprevious-background-hover:var(--color-primary);
	--button-wizprevious-border-hover:1px solid var(--darkest-primary);
	--button-wizprevious-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));

	--button-wiznext-text:var(--darkest-primary);
	--button-wiznext-background:var(--color-primary);
	--button-wiznext-border:1px solid var(--dark-primary);
	--button-wiznext-background-image: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	--button-wiznext-text-hover:var(--darkest-primary);
	--button-wiznext-background-hover:var(--color-primary);
	--button-wiznext-border-hover:1px solid var(--darkest-primary);
	--button-wiznext-background-image-hover: linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	
	/* APIs and Methods */
	--method-header-text:var(--text-color);
	--method-header-background:var(--color-primary);
	--method-header-background-image:linear-gradient(var(--gradient),var(--grad-start-primary),var(--grad-end-primary));
	--method-header-border:1px solid var(--lightest-primary);

	--nt-example-header-text:var(--color-primary);
	--nt-example-header-background:	var(--none);
	--nt-example-header-background-image: 'x';
	--nt-example-header-border: 0px solid var(--color-primary);

	/* calendar */	/*12.28*/
	--nt-month-header-cell-background: #F8F8FF;
	--nt-empty-cell-background: transparent;
	--nt-empty-cell-border: 1px solid transparent; 
	--nt-month-big-border:1px solid #DDDDDD;
	--nt-month-big-background: #FFFFFF;
	--nt-label-color:#DDDDDD;
	--nt-label-empty-color:#DDDDDD;
	--nt-month-small-border:1px solid #DDDDDD;
	--nt-holiday-color:#DDDDDD;
	--nt-holiday-background:#444444;

	/* planner */	/*12.28*/
	--nt-planner-row-size-border:0px solid #DDDDDD;
	--nt-planner-border-border:1px solid #DDDDDD;
	--nt-planner-data-border:1px solid #888888;
	--nt-planner-back-border:1px solid #FAFAFA;    
	--nt-planner-back-color:#EEEEEE;
}